:root{
    --primary-dark-color:#222831;
    --primary-orange-color: #ffbe33;
    --secoundry-orange-color: #e69c00;
    --white-font-color: #fff;
    --dark-font-color:#0c0c0c;
    --first-font: "Open Sans", sans-serif ;
    --secoundry-font: 'Dancing Script', cursive;
    --background-img-card: #f1f2f3;
}

*{
    font-family: var(--first-font) !important;
    box-sizing: border-box;
    font-size: 1rem;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

p{
    margin: 0!important;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn{
    display: inline-block;
    color: var(--white-font-color) !important;
    background-color: var(--primary-orange-color);
    padding: 6px 36px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-nav{
    padding: 6px 26px;
    background-color: var(--primary-orange-color);
}

.btn:hover,
.btn-nav:hover{
    background-color:var(--secoundry-orange-color) !important;
    box-shadow: 0px 0px 8px 0.6px rgba(0, 0, 0, 0.2);
}

.hero-section{
    height: 100vh;
    width: 100%;
    padding: 0 70px;
    background-image: url('../asserts/images/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 99%;
    margin: auto;
    padding: 2px 24px;
}


.logo{
    font-family: var(--secoundry-font) !important;
    font-weight: 500;
    font-size: 32px;
    width: fit-content;
    margin-right: 2.9rem !important;    
}

.nav-link{
    font-size: 0.95rem;
    text-transform: uppercase;
}

.logo,
.footer-link  .link-icon,
.footer-link,
.nav-link{
    color: var(--white-font-color) !important;
    transition: all 0.3s ease-out;
}

.footer-link:hover .link-icon,
.footer-link:hover,
.nav-link:hover{
    color: #ffbe33 !important;
}

.navbar-nav{
    padding-left: 0;
}

.nav-serv i{
    font-size: 15px;
    color: var(--white-font-color);
    transition: all 0.3s ease-out;
}

.nav-serv:hover i{
    color:var(--primary-orange-color);
}

.nav-links{
    width: 72%;
    max-width: 90%;
    min-width: fit-content;
}

.navbar-toggler{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: none;
    border-radius: 0;
    outline: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.toggler-icon{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    margin: auto;
}

.toggler-icon:first-child{
    top: 0;
}
.toggler-icon:nth-child(2){
    top: 8px;
}
.toggler-icon:last-child{
    top: 16px;
}

.navbar-toggler.open .toggler-icon:nth-child(2){
    opacity: 0;
}

.navbar-toggler.open .toggler-icon:first-child{
    top: 8px;
    transform: rotate(45deg);
}

.navbar-toggler.open .toggler-icon:last-child{
    top: 8px;
    transform: rotate(-45deg);
}

.nav-item{
    padding: 0 6px;
}

.navbar-nav{
    width: fit-content;
}

.hero-carousel{
    height: 69%;
    align-content: center;
}

.container-hero-txt{
    max-width: 75%;
    margin: auto;
    padding: 20px;
    color: var(--white-font-color) !important;
}

.container-txt{
    padding-right: 10%;
}

.container-hero-txt .main-txt{
    font-family: var(--secoundry-font) !important;
    font-size: 3.5rem;
    margin-bottom: 20px;
    letter-spacing: 1.2px;
}

.subtile-hero-section{
    font-size: 0.88rem;
    line-height: 1.3rem;
    margin-bottom: 20px !important;
}

.nav-item{
    padding: 0;
}

.carousel-indicators-hero{
    display: inline-block;
    left: 14%;
    margin-left: 0;
    margin-right: 0;
}

.carousel-indicators-hero button{
    border-radius: 100%;
    width: 12px !important;
    height: 12px !important;
    opacity: 1 !important;
}

.carousel-indicators-hero .active{
    background-color: var(--primary-orange-color) !important;
    transform: scale(1.5);
}

.offer-section{
    padding-top: 6rem;
}

.offer-card-row{
    width: 100%;
    align-items: center;
}

.offer-card{
    background-color: var(--primary-dark-color);
    flex-direction: row;
    height: 100%;
    width: 100% !important;
    max-width: 540px;
    transition: all 0.4s ease-in-out;
    color: var(--white-font-color) !important;
}

.container-offer-image{
    width: 160px;
    margin: 0.8rem ;
    border-radius: 100%;
    border: 6px solid var(--primary-orange-color);
    overflow: hidden;
}

.offer-image{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}

.offer-card:hover .offer-image{
    transform: scale(1.2);
}

.card-body-offer-container{
    width: fit-content;
}

.card-body-offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-title-offer,
.card-txt-offer,
.card-txt-offer sub{
    font-family: var(--secoundry-font) !important;
    font-size: 28px;
    
}

.card-title-offer{
    margin-bottom: 8px !important;
}

.main-title{
    font-family: var(--secoundry-font) !important;
    color: var(--dark-font-color) !important;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem;
}


.menu-section{
    height: auto;
    width: 100%;
}

.filter-items{
    width: fit-content;
    margin: auto;
    padding-bottom: 2rem;
    text-align: center;
}

.btn-filter{
    background-color: transparent !important;
    color: var(--dark-font-color) !important;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    transform-origin: 50%;
}

.btn-filter:hover,
.btn-filter.active{
    background-color: var(--dark-font-color) !important;
    color: var(--white-font-color) !important;
    border: none !important;
}

.menu-row{
    width: 100%;
    margin: auto;
    gap: 20px;
}

.card-all{
    border: none;
    padding: 0;
    background-color: var(--primary-dark-color);
    border-radius: 12px;
    cursor: pointer;
    color: var(--white-font-color) !important;
}

.hideCard {
    animation: hideItems 0.4s ease-in-out forwards;
    display: none;
}

.activeCard {
    animation: hideItems 0.4s ease-in-out reverse forwards;
}

@keyframes hideItems {
    0% { transform: scale(1); opacity: 1; }
    25% { transform: scale(0.75); opacity: 1; }
    50% { transform: scale(0.5); opacity: 0.7; }
    75% { transform: scale(0.25); opacity: 0.5; }
    100% { transform: scale(0); opacity: 0; }
}


.card-all:hover .card-items-img img {
    transform: scale(1);
}

.card-img-box{
    background-color: var(--background-img-card);
    border-radius: 8px 8px 0 45px;
    padding: 1.5rem 0;
    height: -webkit-fill-available;
}

.card-items-img{
    width: fit-content;
    margin: 0 auto;
    height: 100%;
}

.card-items-img img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    transform: scale(0.92);
    transition: all 0.3s ease-in-out;
}

.card-itmes-title,
.card-itmes-text{
    margin-bottom: 12px !important;
}


.card-itmes-text{
    font-size: 0.95rem;
    line-height: 18px;
    font-weight: 400;
    opacity: 0.85;
}

.btn-card-items{
    fill: var(--white-font-color);
    padding: 7px 10px;
    border-radius: 100% !important;
}


.about-section{
    background-color: var(--primary-dark-color);
    color: var(--white-font-color) !important;
    height: auto;
    margin: 4rem 0;
    padding: 40px;
}

.container-abt-img{
    display: flex;
    justify-content: center;
}

.img-about{
    width: auto;
    max-width: 100%;
    height: 32rem;
}

.container-about-txt{
    display: flex;
    align-items: center;
}

.main-title {
    padding: 0 0 0.5rem;
    text-align: left;
    color: var(--white-font-color) !important;
}

.main-title-book{
    color: var(--dark-font-color) !important;
}

.input-book::placeholder{
    color: var(--dark-font-color) !important;
}

.select-book,
.input-book{
    color: var(--dark-font-color) !important;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
}

.select-book:focus,
.input-book:focus{
    border-color: var(--primary-orange-color);
    outline: 0;
    box-shadow: 0 0 0 .2rem var(--secoundry-orange-color);
}

.select-book{
    color: var(--dark-font-color) !important;
}

.select-book option{
    color: var(--dark-font-color) !important;
}

.map-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container iframe{
    width: 100%;
    height: 20rem;
}

.card-review{
    background-color: var(--primary-dark-color);
    color: var(--white-font-color) !important;
    margin-bottom: 24px;
}


.card-text-review {
    font-size: 0.94rem;
}

.card-title-review{
    font-size: 1.1rem;
}

.customer-img-container{
    position: relative;
}

.customer-img {
    width: 7.2rem;
    height: auto;
    border-radius: 100%;
    border: 7px solid var(--primary-orange-color);
    margin: 0 5px;
}

.customer-img-container::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 1.5rem;
    border-color: transparent transparent var(--primary-orange-color);
    transform: translate(80%,-90%);
    top: 0;
    left: 0;
    cursor: default;
}

.btns-reviews-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 12px auto auto;
    gap: 30px;
}

.btn-carousel-review{
    width: fit-content;
    background-color: transparent;
}

.btn-carousel-review:hover{
    background-color: transparent !important;
    box-shadow: none;
}

.btn-carousel-review{
    position: unset;
    opacity: 1;
}

.prev-icon-review,
.next-icon-review{
    color: var(--primary-orange-color);
    font-size: 36px;
    opacity: 1;
}

.btn-carousel-review:hover .prev-icon-review,
.btn-carousel-review:hover .next-icon-review{
    color: var(--secoundry-orange-color);
}


footer{
    width: 100%;
    height: fit-content;
    padding: 40px 0 !important;
    margin-top: 1.5rem;
    background-color: var(--primary-dark-color);
    color: var(--white-font-color) !important;
    padding: 20px;
}

.icon-social,
.footer-link .link-icon,
.footer-link,
.container-txt-footer p,
.third-container-footer p{
    font-size: 15px !important;
}


.box-icon{
    height: auto;
    margin-top: 20px;
    padding: 2px;
    background-color: #fff;
    border-radius: 100%;
}

.box-icon .icon-social{
    padding: 2px;
    color: var(--primary-dark-color) !important;
}

.box-icon:hover .icon-social{
    color: var(--secoundry-orange-color) !important;
}


@media screen and (min-width: 992px) {
    .card-all{
        width: 28%;
    }
}

@media screen and (width<=991px) {
    .about-section .container .row {
        flex-direction: column-reverse;
    }
    
    .menu-section .container{
        padding: 0; 
        max-width: 90% !important;
    }

    .container-about-txt {
        margin: auto;
        text-align: center;
        padding: 0;
    }

    .main-title{
        text-align: center;
    }

    .form-book{
        text-align: center;
    }

    #reviews .container{
        padding: 0;
        max-width: 90%;
    }
}

@media screen and (width<=790px) {

    html{
        font-size: 12px;
    }

}

@media screen and (width<=575px) {
    .row {
        --bs-gutter-x: 0;
    }
    .card-all {
        width: 50%;
    }
    .hero-section {
        padding: 0 10px;
    }

    .form-control,
    .form-select{
        width: 90%;
    }

    .select-book, .input-book {
        padding: 0.8rem;
        margin: 0 auto 0.8rem auto;
    }

}

@media screen and (width<=480px) {
    .carousel-indicators-hero {
        left: 0;
        text-align: center;
    }

    .container-offer-image {
        width: 128px;
    }

    .card-title-offer, .card-txt-offer, .card-txt-offer sub {
        font-size: 24px;
    }
}

@media screen and (width<=350px) {
    .container-offer-image {
        width: 100px;
    }

    .card-title-offer, .card-txt-offer, .card-txt-offer sub {
        font-size: 18px;
    }
    
    .offer-card-row{
        flex-direction: column !important;
    }
    
    .carousel-indicators-hero{
        bottom:-34px;
    }

    .btns-reviews-container {
        width: 100%;
        gap: 0;
    }
}